@font-face {
  font-family: akkurat;
  src: url(assets/Akkurat.otf); }
html {
  cursor: url(assets/wand.png), auto; }

body {
  background-color: #FFFFFF;
  font-family: akkurat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: .2px;
  margin: 0 auto;
  max-width: 1024px;
  overflow-x: hidden; }

.header-three {
  color: #E5308A;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0; }
  @media screen and (min-width: 1024px) {
    .header-three {
      font-size: 20px; } }

.sub-header-one {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 800;
  margin-top: 0; }
  @media screen and (min-width: 1024px) {
    .sub-header-one {
      font-size: 16px; } }

.paragraph-one,
.list-one {
  color: #4A4A4A;
  font-size: 14px;
  line-height: 1.65; }
  @media screen and (min-width: 1024px) {
    .paragraph-one,
    .list-one {
      font-size: 16px; } }

.list-one {
  padding-left: 20px; }

.page-link,
.logo,
.general-link {
  cursor: pointer;
  text-decoration: none; }
  .page-link:link, .page-link:visited,
  .logo:link,
  .logo:visited,
  .general-link:link,
  .general-link:visited {
    color: #2D3D67; }
  .page-link:hover,
  .logo:hover,
  .general-link:hover {
    color: #E5308A; }

.article-link {
  cursor: pointer;
  text-decoration: underline; }
  .article-link:link, .article-link:visited {
    color: #4A4A4A; }
  .article-link:hover {
    color: #E5308A; }

.image-caption {
  color: #4A4A4A;
  display: block;
  font-size: 12px;
  margin-top: 5px;
  text-align: center; }

.text-center {
  text-align: center; }

.main-container.header-docked {
  padding-top: 99px; }
  @media screen and (min-width: 768px) {
    .main-container.header-docked {
      padding-top: 132px; } }

.pink-sparkle,
.blue-sparkle,
.yellow-sparkle {
  border-radius: 50%;
  height: 5px;
  opacity: 1;
  position: absolute;
  transition: 1s;
  width: 5px; }

.pink-sparkle {
  background-color: #ffc4f0;
  box-shadow: 0 0 10px #E5308A, 0 0 20px #E5308A, 0 0 30px #E5308A, 0 0 40px #E5308A, 0 0 70px #E5308A, 0 0 80px #E5308A, 0 0 100px #E5308A, 0 0 150px #E5308A; }

.blue-sparkle {
  background-color: #e0f6ff;
  box-shadow: 0 0 10px #a4d6ea, 0 0 20px #a4d6ea, 0 0 30px #a4d6ea, 0 0 40px #a4d6ea, 0 0 70px #a4d6ea, 0 0 80px #a4d6ea, 0 0 100px #a4d6ea, 0 0 150px #a4d6ea; }

.yellow-sparkle {
  background-color: #ffff21;
  box-shadow: 0 0 10px #ffff21, 0 0 20px #ffff21, 0 0 30px #ffff21, 0 0 40px #ffff21, 0 0 70px #ffff21, 0 0 80px #ffff21, 0 0 100px #ffff21, 0 0 150px #ffff21; }

.page-fade {
  opacity: 0; }

@-webkit-keyframes hatGlow {
  0% {
    -webkit-filter: sepia(0%) hue-rotate(0deg) brightness(100%);
    filter: sepia(0%) hue-rotate(0deg) brightness(100%); }
  50% {
    -webkit-filter: sepia(100%) hue-rotate(180deg) brightness(150%);
    filter: sepia(100%) hue-rotate(180deg) brightness(150%); } }
@keyframes hatGlow {
  0% {
    -webkit-filter: sepia(0%) hue-rotate(0deg) brightness(100%);
    filter: sepia(0%) hue-rotate(0deg) brightness(100%); }
  50% {
    -webkit-filter: sepia(100%) hue-rotate(180deg) brightness(150%);
    filter: sepia(100%) hue-rotate(180deg) brightness(150%); } }
@-webkit-keyframes spinHat {
  0% {
    transform: rotateZ(0deg); }
  85% {
    transform: rotateZ(200deg); }
  100% {
    transform: rotateZ(180deg); } }
@keyframes spinHat {
  0% {
    transform: rotateZ(0deg); }
  85% {
    transform: rotateZ(200deg); }
  100% {
    transform: rotateZ(180deg); } }
.spin-hat {
  animation: spinHat .3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: spinHat .3s;
  -webkit-animation-fill-mode: forwards; }

.move-hat-over-empty-hat {
  opacity: 1;
  position: absolute;
  transition: opacity 3s ease-in-out; }

.empty-out-hat {
  opacity: 0; }

@-webkit-keyframes starGlow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
@keyframes starGlow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
.stars-overlay {
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: translate3d(0, -100%, 0);
  width: 100vw; }
  .stars-overlay.foreground {
    transition: transform 6s linear, opacity 2s ease-out; }
  .stars-overlay.background {
    transition: transform 10s linear, opacity 2s ease-out; }
  .stars-overlay .star {
    -webkit-animation: starGlow 1.5s ease-in-out infinite alternate;
    -moz-animation: starGlow 1.5s ease-in-out infinite alternate;
    animation: starGlow 1.5s ease-in-out infinite alternate;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute; }
  .stars-overlay.move-canvas {
    transform: translate3d(0, 0, 0); }
  .stars-overlay.fade-canvas {
    opacity: 0; }

.sparkle-fade {
  opacity: 0; }

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  height: 99px;
  justify-content: space-between;
  opacity: .9;
  padding: 40px 13% 0; }
  @media screen and (min-width: 564px) {
    .header {
      padding: 40px 9.2% 0; } }
  @media screen and (min-width: 768px) {
    .header {
      height: 132px;
      padding: 40px 9.7% 0; } }
  @media screen and (min-width: 1024px) {
    .header {
      padding: 40px 2% 0; } }
  .header.docked {
    background-color: #FFFFFF;
    border-bottom: 1px solid #B2BBCE;
    box-sizing: content-box;
    height: 90px;
    left: 50%;
    max-width: 983.06px;
    padding: 6px 100% 10px;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 74%;
    z-index: 100; }
    @media screen and (min-width: 564px) {
      .header.docked {
        width: 81.6%; } }
    @media screen and (min-width: 768px) {
      .header.docked {
        width: 80.5%; } }
    @media screen and (min-width: 1024px) {
      .header.docked {
        width: 100%; } }
  .header .logo {
    cursor: pointer;
    flex-basis: auto;
    flex-shrink: 0;
    margin-left: -24px; }
    .header .logo:hover .page-name {
      color: #E5308A; }
    @media screen and (min-width: 768px) {
      .header .logo {
        flex-basis: 8%; } }
    .header .logo img {
      margin-bottom: 5px;
      margin-left: 8px;
      width: 52px; }
    .header .logo .page-name {
      color: #2D3D67;
      font-size: 16px;
      font-weight: 100;
      margin: 0;
      min-width: 62px; }
  .header .nav-menu {
    font-size: 14px;
    margin: 0;
    list-style-type: none;
    padding: 0; }
    .header .nav-menu li {
      margin-top: 10px; }
  .header .magic-hat .rabbit-window {
    height: 26px;
    overflow: hidden;
    position: absolute;
    transform: translateY(193%); }
    .header .magic-hat .rabbit-window img {
      transform: translateY(-100%) rotateZ(180deg);
      transition: 1.5s; }
    .header .magic-hat .rabbit-window .rabbit-move {
      transform: translateY(0) rotateZ(180deg); }
  .header .magic-hat img {
    cursor: pointer;
    vertical-align: bottom;
    width: 26px; }
    .header .magic-hat img:hover {
      -webkit-animation: hatGlow 1s infinite;
      animation: hatGlow 1s infinite; }

.main-content {
  transition: .2s; }

@media screen and (min-width: 564px) {
  .work-content {
    padding: 0 9.2%; } }
@media screen and (min-width: 768px) {
  .work-content {
    padding: 0 9.7%; } }
@media screen and (min-width: 1024px) {
  .work-content {
    padding: 0 2%; } }

.portfolio-nav {
  border-top: 1px solid #B2BBCE;
  padding-top: 24px; }
  @media screen and (min-width: 564px) {
    .portfolio-nav {
      margin-left: 9.2%;
      margin-right: 9.2%; } }
  @media screen and (min-width: 768px) {
    .portfolio-nav {
      margin-left: 9.7%;
      margin-right: 9.7%; } }
  @media screen and (min-width: 1024px) {
    .portfolio-nav {
      margin-left: 2%;
      margin-right: 2%; } }

.work-content,
.portfolio-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 53px; }
  @media screen and (min-width: 564px) {
    .work-content,
    .portfolio-nav {
      margin-top: 100px; } }
  @media screen and (min-width: 768px) {
    .work-content,
    .portfolio-nav {
      flex-direction: row; } }
  .work-content .portfolio-item,
  .portfolio-nav .portfolio-item {
    box-sizing: border-box;
    cursor: pointer;
    flex-basis: auto;
    flex-shrink: 0;
    margin-bottom: 25px; }
    @media screen and (min-width: 768px) {
      .work-content .portfolio-item,
      .portfolio-nav .portfolio-item {
        flex-basis: 48.7%; } }
    @media screen and (min-width: 1024px) {
      .work-content .portfolio-item,
      .portfolio-nav .portfolio-item {
        height: 320px; } }
    .work-content .portfolio-item .image,
    .portfolio-nav .portfolio-item .image {
      box-sizing: border-box; }
      @media screen and (min-width: 1024px) {
        .work-content .portfolio-item .image,
        .portfolio-nav .portfolio-item .image {
          height: 100%; } }
      .work-content .portfolio-item .image img,
      .portfolio-nav .portfolio-item .image img {
        width: 100%; }
    .work-content .portfolio-item .info,
    .portfolio-nav .portfolio-item .info {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10%;
      text-align: center;
      transition: .3s; }
      @media screen and (min-width: 1024px) {
        .work-content .portfolio-item .info,
        .portfolio-nav .portfolio-item .info {
          background-color: #F9F9F7;
          border: 1px solid #E5308A;
          height: 100%;
          opacity: 0;
          transform: translateY(-100%); }
          .work-content .portfolio-item .info:hover,
          .portfolio-nav .portfolio-item .info:hover {
            opacity: 1; } }

.about-content .about-image-container {
  background-color: gray;
  height: 425px;
  width: 100%; }

.standard-article {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 564px) {
    .standard-article {
      padding: 0 9.2%; } }
  @media screen and (min-width: 768px) {
    .standard-article {
      padding: 0 9.7%; } }
  @media screen and (min-width: 1024px) {
    .standard-article {
      padding: 0 2%; } }
  .standard-article .article-image {
    align-self: center;
    flex-basis: auto;
    flex-shrink: 0;
    margin-top: 53px;
    width: 100%; }
    .standard-article .article-image.large {
      max-width: 1200px;
      width: 100vw; }
    .standard-article .article-image.full {
      width: 100vw; }
    .standard-article .article-image img {
      width: 100%; }
  .standard-article .header-three {
    margin-top: 53px; }
  .standard-article .paragraph-one,
  .standard-article .list-one,
  .standard-article .sub-header-one {
    margin-top: 30px; }
  .standard-article .text-wrapper {
    padding: 0 13%; }
    @media screen and (min-width: 564px) {
      .standard-article .text-wrapper {
        padding: 0; } }

.footer {
  margin-top: 82px;
  margin-bottom: 82px; }
  .footer .footer-list {
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    text-align: center; }
    .footer .footer-list li {
      color: #2D3D67;
      width: 50px; }
      .footer .footer-list li .footer-links {
        cursor: pointer;
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
