//Viewport Sizes
$base: 320px;
$xs: 414px;
$sm: 564px;
$md: 768px;
$lg: 958px;
$xl: 1024px;

//Colors
$alife-bg-color: #E6EFF4;
$bright-pink: #E5308A;
$medium-light-gray: #4A4A4A;
$bg-hover-gray: #F9F9F7;
$navy: #2D3D67;
$white: #FFFFFF;
$light-gray: #B2BBCE;